.article-style a {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    &:hover { 
        cursor: pointer;
        text-decoration-style: double;
    }
    color: inherit !important;
}
