<script>
    function citeClick() {
        e.preventDefault();
        const filename = $(this).attr('data-filename');
        const citekey = $(this).attr('data-cite-key');
        const modal = $('#modal');
        const client = new XMLHttpRequest();
        $.get('cite.bib', function(data, status) {
            if (status == 'error') {
                let msg = 'Error: ';
                $('#modal-error').html(msg + xhr.status + ' ' + xhr.statusText);
            } else {
                console.log(bibtexParse.toJSON(data))
            }
        })
        $('.js-download-cite').hide();
        modal.modal('show');
    }
</script>
<p>
    <a href="#" onclick="citeClick()"
    class="btn btn-outline-primary btn-sm js-cite-modal"
    data-filename="{{ .Get "citelink" }}">Cite</a>
    {{ .Get "papertitle"}}
</p>
